@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1&family=League+Spartan:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #c7d2fe;
  --foreground: #171717;
  --scrollbar-color-track: #ede9fe;
  --scrollbar-color-thumb: #c4b5fd;
}

:root.dark {
  --background: #1e293b;
  --foreground: #c7d2fe;
  --scrollbar-color-track: #475569;
  --scrollbar-color-thumb: #334155;
}

:root, .scroller {
  scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
}

body {
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--background);
}



